.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 30px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: black;
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 520px;
  height: 100%;
  margin: 0;
  padding: 159px 90px 0;
  list-style: none;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  text-align: center;
}

.menu-item {
  display: block;
  height: 26px;
  font-size: 18px;
  line-height: 1.21;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 0.25s;
  margin-bottom: 28px;
}
.menu-item:hover {
  background-color: #cfd8dc;
}

.menu-item_active {
  text-decoration: underline;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox {
  visibility: visible;
  right: 0;
}

.menu-item__button-profile {
  margin-top: 621px;
}

@media screen and (max-width: 760px) {
  .menubox {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .menubox {
    width: 100%;
    padding: 144px 0 0;
  }

  .menu-btn {
    top: 13px;
    right: 13px;
  }
}
