.about {
  padding: 110px 70px;
}

.about__title {
  border-bottom: 1px solid black;
  margin: 0 0 70px;
  height: 50px;
  font-size: 22px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  font-weight: 400;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(284px, 550px));
  grid-template-rows: 24px 40px;
  gap: 26px 40px;
  margin-bottom: 110px;
}

.about__container-header {
  margin: 0;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  font-weight: 400;
}

.about__container-text {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
}

.about__visual {
  display: grid;
  grid-template-columns: minmax(100px, 228px) minmax(184px, 912px);
  grid-template-rows: 36px 17px;
  row-gap: 14px;
  text-align: center;
}

.about__visual-quantity {
  margin: 0;
  font-size: 14px;
  line-height: 1.21;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__visual-quantity:last-of-type {
  color: black;
  background-color: #F2F2F2;
}

.about__visual-name {
  color: #A0A0A0;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
}


