.movies-cards {
  padding: 70px 70px 30px;
}

.movies-cards__container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: repeat(12, 271px);
  gap: 30px 24px;
  max-height: 1274px;
}

@media screen and (max-width: 1279px) {
  .movies-cards__container {
    grid-template-columns: repeat(auto-fit minmax(339px, 364px));
    grid-template-rows: repeat(auto-fit, minmax(190px, 271px));
    margin: 0 auto;
  }
}
