.movies-cards {
  padding: 70px 70px 30px;
}

.movies-cards__container {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 364px));
  grid-template-rows: repeat(auto-fit, minmax(236px, 271px));
  gap: 30px 24px;
  overflow: hidden;
  max-height: 1174px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .movies-cards {
    padding: 70px 30px 30px;
  }

  .movies-cards__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    grid-template-rows: repeat(auto-fit, minmax(236px, 258px));
    gap: 36px 30px;
  }
}

@media screen and (max-width: 375px) {
  .movies-cards {
    padding: 40px 10px 30px;
  }

  .movies-cards__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    grid-template-rows: repeat(auto-fit, 236px);
    row-gap: 16px;
  }
}
