.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3c1f8;
  padding: 1.41% 5.47%;
}

.header__logged {
  background-color: white;
}

.header__logo {
  display: flex;
  width: 38px;
  height: 38px;
  margin: auto;
}

.header__nav {
  font-size: 12;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.header__nav-logged {
  width: 59.3%;
}

.header__movies-nav {
  margin: 0;
  padding: 0;
  display: flex;
}

.header__movies-link {
  font-size: 13;
  line-height: 1.38;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.header__movies-link:last-of-type {
  margin-left: 16px;
}

.active {
  font-weight: 500;
}

.header__link-main {
  text-decoration: none;
}

.header__button-main {
  width: 76px;
  height: 32px;
  color: white;
  border-radius: 3px;
  border: 0;
  padding: 0;
  background-color: black;
  margin-left: 30px;
}

.header__button-profile {
  width: 100px;
  height: 32px;
  color: black;
  border-radius: 20px;
  border: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.header__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .header {
    padding: 18px 30px 318px;
  }
}
